@page
@model SigfoxDeviceManageApp.Pages.Movie.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieModel</h4>
<hr />
<div class="row">
    <div class="uk-column-1-2" style="display:flex">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieModel.Title" class="control-label"></label>
                <input asp-for="MovieModel.Title" class="uk-input" />
                <span asp-validation-for="MovieModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.ReleaseDate" class="control-label"></label>
                <input asp-for="MovieModel.ReleaseDate" class="uk-input" />
                <span asp-validation-for="MovieModel.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Genre" class="control-label"></label>
                <input asp-for="MovieModel.Genre" class="uk-input" />
                <span asp-validation-for="MovieModel.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Price" class="control-label"></label>
                <input asp-for="MovieModel.Price" class="uk-input" />
                <span asp-validation-for="MovieModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="uk-section-small"></a>
                <input type="submit" value="Create" class="uk-button uk-button-primary" style="margin-top:16px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
