@page
@model SigfoxDeviceManageApp.Pages.Sigfox.IndexModel
@{
    ViewData["Title"] = "Sigfox Index";
}

<h2>Sigfoxの概要</h2>
<p>Sigfox（シグフォックス）ネットワークは、2009年に設立した仏国Sigfox社が提供するLPWAネットワークです。</p>
<p>Sigfox is rolling out the first global 0G network to listen to billions of objects broadcasting data,
    without the need to establish and maintain network connections.</p>

<a href="https://www.sigfox.com/en/what-sigfox/technology">Sigfox Technology</a>