@page
@model SigfoxDeviceManageApp.Pages.DeviceResistorModel
@{ 
    ViewData["Title"] = "DeviceResister";
}

<h4>DeviceDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeviceDataModel.deviceId" class="control-label"></label>
                <input asp-for="DeviceDataModel.deviceId" class="form-control" />
                <span asp-validation-for="DeviceDataModel.deviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDataModel.deviceName" class="control-label"></label>
                <input asp-for="DeviceDataModel.deviceName" class="form-control" />
                <span asp-validation-for="DeviceDataModel.deviceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDataModel.resisteDateTime" class="control-label"></label>
                <input asp-for="DeviceDataModel.resisteDateTime" class="form-control" />
                <span asp-validation-for="DeviceDataModel.resisteDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDataModel.temperature" class="control-label"></label>
                <input asp-for="DeviceDataModel.temperature" class="form-control" />
                <span asp-validation-for="DeviceDataModel.temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceDataModel.humidity" class="control-label"></label>
                <input asp-for="DeviceDataModel.humidity" class="form-control" />
                <span asp-validation-for="DeviceDataModel.humidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
