@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It's @Model.TimeNow right now on this server!</p>
    <button class="ui orange button">Orange</button>
</div>
